absl-py==0.12.0
altair==4.1.0
altgraph==0.17
gitdb==4.0.7
GitPython==3.1.16
grpcio==1.34.1
gunicorn==20.1.0
html5lib==1.1
Jinja2==2.11.3
json5==0.9.5
Markdown==3.3.4
MarkupSafe==1.1.1
numpy==1.19.5
pandas==1.2.1
streamlit==0.84.1
toml==0.10.2
tomlkit==0.7.0
selenium==3.141.0
